.news {
  margin: 150px auto;
  width: 60%;
}
.news form {
  display: flex;
  align-items: center;
  row-gap: 10px;
}
.news form * {
  width: 50%;
}
.inputs {
  display: flex;
}
.inputs button {
  cursor: pointer;
  width: fit-content;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 1rem;

  padding: 5px 10px;
}

@media (max-width: 1200px) {
  .news form {
    flex-direction: column;
    align-items: flex-start;
  }
  .news form * {
    width: 70%;
  }
}
@media (max-width: 1200px) {
  .news form * {
    width: 85%;
  }
}

@media (max-width: 768px) {
  .news {
    width: 75%;
  }
  .inputs {
    flex-direction: column;
    row-gap: 10px;
  }
}
