* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

button {
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: red;
  font-weight: bold;
}
